
[Unit]
Description=Download stats daemon
 
[Service]
Type=simple
WorkingDirectory=/opt/dlstats
ExecStart=/usr/local/bin/pipenv run python3 main.py
Restart=always

[Install]
WantedBy=multi-user.target
